<header class="header-container">
  <div class="header-container__top">
    <div class="header-container__title">
      <h1 (click)="home()"><b>Velas Candil</b></h1>
    </div>

    <div class="header-container__auth">
      @if (!auth) {
        <a class="header-container__link" (click)="login()">Login</a>
        <a class="header-container__link" (click)="register()">Registrarse</a>
      } @else {
        <p>Bienvenido, {{ username }}</p>

        @if (isAdmin) {
          <button class="header-container__dashboard-btn" (click)="createCandle()">
            Dashboard
          </button>
        }

        <button
          class="header-container__profile-btn"
          [matMenuTriggerFor]="menuUsuario"
        >
        <img
        class="header-container__avatar"
        [src]="imageUrl || 'assets/default-avatar.png'"
        alt="Perfil"
      />        
    </button>

        <mat-menu #menuUsuario="matMenu">
          <div class="header-container__menu-header">
            <p class="header-container__username">{{ username }}</p>
          </div>

          <button mat-menu-item (click)="profile()">
            <mat-icon>person</mat-icon>
            Editar perfil
          </button>

          <button mat-menu-item (click)="purchases()">
            <mat-icon>receipt_long</mat-icon>
            Ver compras realizadas
          </button>

          <button mat-menu-item (click)="cart()">
            <mat-icon>shopping_cart</mat-icon>
            Carrito
          </button>

          @if (isAdmin) {
            <button mat-menu-item (click)="createCandle()">
              <mat-icon>local_fire_department</mat-icon>
              Crear vela
            </button>
          }

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Salir
          </button>
        </mat-menu>
      }
    </div>
  </div>

  <nav class="header-container__navigation">
    <div class="header-container__logo">
      <img src="/logo.webp" alt="imagen logotipo de la página web" />
    </div>

    <div class="header-container__menu">
      <a class="header-container__link" (click)="home()">
        <mat-icon>home</mat-icon>
        Inicio
      </a>

      <a class="header-container__link" (click)="catalog()">
        <mat-icon>storefront</mat-icon>
        Catálogo
      </a>

      <a class="header-container__link" (click)="contact()">
        <mat-icon>mail</mat-icon>
        Contacto
      </a>

      <a class="header-container__link" (click)="cart()">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </nav>
</header>
