server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: Velas Candil

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:candles}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456789}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: localhost
    port: 1025
    username: velas
    password: 123456789
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enable: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

  destination:
    folder: src/main/resources/static/

application:
  security:
    jwt:
      secret_key: "${SECRET_KEY:GRf9FCYUutfWqAuDWHPwdv1dQozLUYCVM0cBOstuEBA}"
      expiration: 8640000
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:*}
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account

candle:
  margin:
    multiplier: 1.7

